<div class="row">
  <div class="col-md-12">
    <% if @restaurant.nil? %>
      <h1>No restaurant found! Try adding restaurants along with ratings.</h1>
    <% else %>
      <h1>Today's restaurant is <%= @restaurant.name %>!</h1>
    <% end %>
  </div>
</div>